name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # 或者是你的主分支名稱

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, build, and upload with Astro
        uses: withastro/action@v3
        # 如果你有用 npm，這會自動跑 npm install & npm run build
